<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>AI 18기 아자아자팀</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Responsive navbar with fixed-top class for sticky navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">AI 18기 아자아자팀 프로젝트</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Header - set the background image for the header in the line below-->
    <!-- <header class="py-5 bg-image-full" style="background-image: url('/static/Pulsar_Classification_For_Class_Prediction.jpg')"> -->
    <!--
        <header class="py-5 bg-image-full" style="background-color: black;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="text-center my-5">
                            <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="Person 1" />
                            <h1 class="text-white fs-3 fw-bolder">Person 1</h1>
                            <p class="text-white-50 mb-0">Role 1</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center my-5">
                            <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="Person 2" />
                            <h1 class="text-white fs-3 fw-bolder">Person 2</h1>
                            <p class="text-white-50 mb-0">Role 2</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center my-5">
                            <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="Person 3" />
                            <h1 class="text-white fs-3 fw-bolder">Person 3</h1>
                            <p class="text-white-50 mb-0">Role 3</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center my-5">
                            <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="Person 4" />
                            <h1 class="text-white fs-3 fw-bolder">Person 4</h1>
                            <p class="text-white-50 mb-0">Role 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    -->

    <!-- Content section-->
    <!--
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>AI 소프트웨어 업그레이드 프로젝트</h2>
                        <p class="lead">아자아자팀 프로젝트로 간단한 설명 ...</p>
                        <p class="mb-0">---- 비고 ----</p>
                    </div>
                </div>
            </div>
        </section>
    -->


    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('/static/Abalone_Dataset.jpg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
    </div>
    <!-- regression -->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2>Abalone Dataset</h2>
                    <p class="lead">전복의 나이는 콘을 통해 껍질을 자르고 염색하고 현미경으로 고리의 수를 세는 지루하고 시간이 많이 걸리는 작업으로 결정됩니다. 더 쉽게 얻을 수 있는 다른 측정값을 사용하여 연령을 예측합니다. 문제를 해결하려면 날씨 패턴 및 위치(따라서 식량 가용성)와 같은 추가 정보가 필요할 수 있습니다.</p>
                    <p class="mb-0">Abalone Dataset은 회귀 문제에 적합한 데이터입니다. 회귀 모델을 이용하여 전복의 연령을 예측하는 데 도움이 됩니다.</p>
                    <form action="/regression" method="post">
                        <button type="submit" class="btn btn-primary mt-3">Regression 페이지로 이동</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('/static/Pulsar_Classification_For_Class_Prediction.jpg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
    </div>
    <!-- Binary -->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2>Pulsar Classification For Class Prediction</h2>
                    <p class="lead">펄서는 강한 자기장을 가진 회전하는 중성자 별로, 자기 극을 따라 전자기 복사빛을 방출합니다. 펄서를 감지하는 것은 이 특이한 천체 객체의 특성을 이해하는 데 중요합니다.</p>
                    <p class="mb-0">Pulsar Dataset은 이진 분류 작업에 적합한 데이터입니다. 이 데이터셋의 목표는 후보 소스가 펄서인지 아닌지를 분류하는 것입니다.</p>
                    <form action="/bynary" method="post">
                        <button type="submit" class="btn btn-primary mt-3">Binary Classification 페이지로 이동</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('/static/Faulty_Steel_Plates.jpg')">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div style="height: 20rem"></div>
    </div>
    <!-- Multi Classification -->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2>Faulty Steel Plates</h2>
                    <p class="lead">불량 강판은 산업 현장에서 큰 걱정거리로, 안전 위험과 생산 효율성 저하를 초래할 수 있습니다. 불량 강판을 탐지하고 분류하는 것은 품질 관리와 사고 예방에 매우 중요합니다.</p>
                    <p class="mb-0">Faults Dataset은 강판의 불량 여부를 예측하는 다중 분류 모델을 만드는 데 적합합니다. 이 데이터셋은 강판과 관련된 다양한 특성을 포함하고 있으며, 각각의 강판이 불량인지 아닌지에 대한 레이블이 있습니다.</p>
                    <form action="/multi" method="post">
                        <button type="submit" class="btn btn-primary mt-3">Multiclass Classification 페이지로 이동</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                &copy; Your Website 2023 | AI 18기 아자아자팀 프로젝트<br>
                Team Members: 김보미, 김우영, 이강우, 최재용<br>
                Project Name: AI Software upgrade
            </p>
        </div>
    </footer>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>